<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" href="..\static\css\styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../static/lagozon.png" alt="Company Logo">
            <h1>Attenz.AI</h1>
        </div>
        <div class="buttons">
            <a href="/new_employee" class="button">Admit New Employee</a>
            <a href="/take_attendance" class="button">Take Attendance</a>
            <a href="/train_model" class="button">Train Model</a>
            <!-- <a href="/check_location" class="button">Check Location</a> -->
        </div>
    </div>
</body>
</html>
